<ion-header>
  <ion-navbar color="primary">
    <ion-title>Datos Jugador</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
    <ion-card>
      <ion-card-header>
        <h1>{{(jugador | async)?.nombre}} </h1>
      </ion-card-header>

   <img [src]="(jugador | async)?.imagen"/> 
      <ion-card-content>
        <ion-card-title>
          <h3><ion-icon class="iconBtn" name="heart"></ion-icon> Ritmo Cardiaco : {{ultimodatoRitmo}} </h3>
          <h3><ion-icon class="iconBtn" name="walk"></ion-icon> Velocidad : {{ultimodatoVelocidad}} </h3>
          <h3><ion-icon class="iconBtn" name="thermometer"></ion-icon> Temperatura : {{contador}} </h3>
        </ion-card-title>
    <button (click)="mostrarEstadisticas()" *ngIf="jugador!=null " ion-button color="dark" round>Ver</button> 
    <button (click)="simulatePromise(1,2)" *ngIf="jugador!=null " ion-button color="dark" round>Simulate</button>
    
    <button (click)="botonPres=!botonPres" *ngIf="jugador!=null"
    ion-button color="secondary" large>
    Ver estadisticas
      <ion-icon class="iconBtn" name="walk"></ion-icon> 
    </button> 
      </ion-card-content>
    </ion-card>

    <div class="chart-container" style="position: relative;">
      <chart id="chart" *ngIf="botonPres" [options]="chartOptions"  type="chart"></chart>
    </div>
    <!-- <p>{{jugador | async | json}}</p>   -->
<!-- <button ion-button block color="dark" (click)="showAlert()">Show Basic Alert</button> -->
</ion-content>
